*{
	margin: 0;
}


body{

	background-image: url('banner.jfif');
background-attachment: fixed;
background-size: 100% 80%;
background-repeat: no-repeat;
}

	.both{
		display:flex;
		height: 800px;
		width: 100%;

	}
	.page{
		display:flex 6;
		height: 400px;
		width: 600px; 
		margin-top: 200px; 
	}
	h1{
		text-align:center;
		margin-top: 200px; 
	}	
.context{
	display: flex 6;
	height: 400px;
	width: 600px;
	background-color:white;
	margin-top: 200px; 
}
